{{ if (eq .Site.Params.Mode "light") }}
{{ if (fileExists "static/images/logo_light.svg") }}
<img class="logo" src="{{ "images/logo_light.svg" | absURL }}" alt="logo" />
{{ else }}
<img class="logo" src="{{ "images/logo.svg" | absURL }}" alt="logo" />
{{ end }}
{{ else if (eq .Site.Params.Mode "wild") }}
{{ if (fileExists "static/images/logo_wild.svg") }}
<img class="logo" src="{{ "images/logo_wild.svg" | absURL }}" alt="logo" />
{{ else }}
<img class="logo" src="{{ "images/logo.svg" | absURL }}" alt="logo" />
{{ end }}
{{ else }}
{{ if (fileExists "static/images/logo_dark.svg") }}
<img class="logo" src="{{ "images/logo_dark.svg" | absURL }}" alt="logo" />
{{ else }}
<img class="logo" src="{{ "images/logo.svg" | absURL }}" alt="logo" />
{{ end }}
{{ end }}
