{{ partial "head.html" . }}

<body class="loading {{ .Site.Params.Mode }}-mode">
    {{ partial "loader.html" .}}
    {{ partial "header.html" . }}
    <div class="middle">
        <nav class="sidebar">
            {{ partial "sidebar_posts.html" . }}
        </nav>
        <main class="main">
            <div class="intro">
                <img src="{{ "images/logo.svg" | absURL }}" alt="logo">
                <h2> 404 Page not found. </h2>
            </div>
        </main>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>
