@media only screen and (max-width: 800px) {
    .status li:last-child {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .status li:nth-last-child(2) {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .status li:nth-last-child(3) {
        display: none;
    }

    .status li:nth-last-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .status {
        display: none;
    }
}
